
body {
    max-width: 1024px;
    margin: auto;
}

header {
    background-color: #DBE9EE;
    border-bottom: 1px solid #466995;
    position: fixed;
    z-index: 10;
    width: 1024px;

}

header ul {
    text-align: center;
    alignment: center;
}

header li {
    color: #148dff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: 150px;
}

header li:hover {
    color: #466995;
}

img {
    max-width: 150px;
    max-height: 100px;
    margin: 20px;
}

.item {
    position: relative;
    top: 70px;
    margin-bottom: 20px;
    margin-left: 90px;
}

code {
    font-size: 11px;
}

.contact, .education, .english, .summary, .experience {
    display: grid;
    grid-template-columns: 200px 700px;
    grid-template-rows: auto;
    justify-items: left;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    grid-gap: 30px;
}

.person, .code, .skills {
    display: grid;
    grid-template-columns: 200px 300px 320px;
    grid-template-rows: auto;
    justify-items: left;
    align-items: center;
    align-content: center;
    grid-gap: 30px;
    grid-row-gap: 30px;
}

p {
    font-family: Georgia;
    color: rgba(76, 113, 171, 0.86);
}

.skills h4 {
    margin: 0;
    padding: 0;
}
